# Ignorar archivos innecesarios
__pycache__/
.pytest_cache
*.pyc
*.pyo
*.pyd

# Ignorar entornos virtuales
env/
venv/
ENV/
.VENV/

# Ignorar directorios de paquetes de Python 3.10 y 3.11
lib/python3.10/
lib/python3.11/

# Ignorar configuraciones de IDE
.vscode/
.idea/
